#tempfiles
slack_msg
make_log.txt
*~
*#

#################################################################################
## Output files
#################################################################################
bit

#################################################################################
## Sim files
#################################################################################
sim/*
!sim/tb*/

#################################################################################
## ISE Crap
#################################################################################
proj/*
!proj/CPLD.xise


#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd


