#tempfiles
slack_msg
make_log.txt
*~
*#

#################################################################################
## Output files
#################################################################################
bit

#################################################################################
## Sim files
#################################################################################
sim/*
!sim/tb*/


#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd


