
#Created by Constraints Editor (xc2c64-vq100-7) - 2020/05/05
NET "Master_Cable_TCK" TNM_NET = Master_Cable_TCK;
TIMESPEC TS_Master_Cable_TCK = PERIOD "Master_Cable_TCK" 100 ns HIGH 50%;
NET "Master_IPMC_TCK" TNM_NET = Master_IPMC_TCK;
TIMESPEC TS_Master_IPMC_TCK = PERIOD "Master_IPMC_TCK" 100 ns HIGH 50%;
NET "Master_Zynq_TCK<0>" TNM_NET = Master_Zynq_TCK<0>;
TIMESPEC TS_Master_Zynq_TCK_0_ = PERIOD "Master_Zynq_TCK<0>" 100 ns HIGH 50%;
NET "Master_Zynq_TCK<1>" TNM_NET = Master_Zynq_TCK<1>;
TIMESPEC TS_Master_Zynq_TCK_1_ = PERIOD "Master_Zynq_TCK<1>" 100 ns HIGH 50%;

NET "Master_Cable_TCK"    LOC=P23 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_TMS"    LOC=P28 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_TDI"    LOC=P30 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_TDO"    LOC=P29 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_nRST"   LOC=P32 | IOSTANDARD="LVCMOS33";
			  
NET "Master_IPMC_TCK"     LOC=P22 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_TMS"     LOC=P14 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_TDI"     LOC=P15 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_TDO"     LOC=P16 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_nRST"    LOC=P17 | IOSTANDARD="LVCMOS33";
			  
NET "Master_Zynq_TCK<0>"  LOC=P13 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TMS<0>"  LOC=P12 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDI<0>"  LOC=P11 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDO<0>"  LOC=P10 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_nRST<0>" LOC=P9  | IOSTANDARD="LVCMOS33";

NET "Slave_Mezz_TCK<0>"   LOC=P8  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TMS<0>"   LOC=P7  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDI<0>"   LOC=P6  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDO<0>"   LOC=P4  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_nRST<0>"  LOC=P3  | IOSTANDARD="LVCMOS33";

NET "Master_Zynq_TCK<1>"  LOC=P90 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TMS<1>"  LOC=P89 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDI<1>"  LOC=P81 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDO<1>"  LOC=P79 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_nRST<1>" LOC=P78 | IOSTANDARD="LVCMOS33";

NET "Slave_Mezz_TCK<1>"   LOC=P77 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TMS<1>"   LOC=P76 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDI<1>"   LOC=P74 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDO<1>"   LOC=P72 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_nRST<1>"  LOC=P71 | IOSTANDARD="LVCMOS33";

NET "Slave_Zynq_TCK"      LOC=P50 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_TMS"      LOC=P52 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_TDI"      LOC=P53 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_TDO"      LOC=P55 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_nRST"     LOC=P56 | IOSTANDARD="LVCMOS33";


NET "sel<0>"              LOC=P36 | IOSTANDARD="LVCMOS33" | PULLDOWN ;
NET "sel<1>"              LOC=P37 | IOSTANDARD="LVCMOS33" | PULLDOWN ;
NET "sel<2>"              LOC=P39 | IOSTANDARD="LVCMOS33" | PULLDOWN ;
NET "zynq_pwr_ngood"      LOC=P35 | IOSTANDARD="LVCMOS33";
NET "cable_present_n"     LOC=P43 | IOSTANDARD="LVCMOS33";
			  
NET "mezz_en<0>"          LOC=P92   | IOSTANDARD="LVCMOS33";
NET "mezz_en<1>"          LOC=P91   | IOSTANDARD="LVCMOS33";

NET "GPIO<0>"             LOC=P64   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "GPIO<1>"             LOC=P61   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "GPIO<2>"             LOC=P60   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "GPIO<3>"             LOC=P58   | IOSTANDARD="LVCMOS33" | PULLDOWN;

NET "IPMC_UART<0>"             LOC=P18   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "IPMC_UART<1>"             LOC=P19   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "IPMC_UART<2>"             LOC=P41   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "IPMC_UART<3>"             LOC=P42   | IOSTANDARD="LVCMOS33" | PULLDOWN;

NET "Zynq_GPIO<0>"             LOC=P27   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "Zynq_GPIO<1>"             LOC=P34   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "Zynq_GPIO<2>"             LOC=P1    | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "Zynq_GPIO<3>"             LOC=P99   | IOSTANDARD="LVCMOS33" | PULLDOWN;

NET "Mezz1_GPIO<0>"             LOC=P97   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "Mezz1_GPIO<1>"             LOC=P94   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "Mezz2_GPIO<0>"             LOC=P68   | IOSTANDARD="LVCMOS33" | PULLDOWN;
NET "Mezz2_GPIO<1>"             LOC=P67   | IOSTANDARD="LVCMOS33" | PULLDOWN;
