
#Created by Constraints Editor (xc2c64-vq100-7) - 2020/05/05
NET "Master_Cable_TCK" TNM_NET = Master_Cable_TCK;
TIMESPEC TS_Master_Cable_TCK = PERIOD "Master_Cable_TCK" 100 ns HIGH 50%;
NET "Master_IPMC_TCK" TNM_NET = Master_IPMC_TCK;
TIMESPEC TS_Master_IPMC_TCK = PERIOD "Master_IPMC_TCK" 100 ns HIGH 50%;
NET "Master_Zynq_TCK<0>" TNM_NET = Master_Zynq_TCK<0>;
TIMESPEC TS_Master_Zynq_TCK_0_ = PERIOD "Master_Zynq_TCK<0>" 100 ns HIGH 50%;
NET "Master_Zynq_TCK<1>" TNM_NET = Master_Zynq_TCK<1>;
TIMESPEC TS_Master_Zynq_TCK_1_ = PERIOD "Master_Zynq_TCK<1>" 100 ns HIGH 50%;

NET "Master_Cable_TCK"   LOC=P22 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_TMS"   LOC=P14 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_TDI"   LOC=P15 | IOSTANDARD="LVCMOS33";
NET "Master_Cable_TDO"   LOC=P16 | IOSTANDARD="LVCMOS33";

NET "Master_IPMC_TCK"    LOC=P23 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_TMS"    LOC=P28 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_TDI"    LOC=P29 | IOSTANDARD="LVCMOS33";
NET "Master_IPMC_TDO"    LOC=P30 | IOSTANDARD="LVCMOS33";

NET "Master_Zynq_TCK<0>" LOC=P13 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TMS<0>" LOC=P12 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDI<0>" LOC=P11 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDO<0>" LOC=P10 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TCK<0>"  LOC=P9  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TMS<0>"  LOC=P8  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDI<0>"  LOC=P7  | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDO<0>"  LOC=P6  | IOSTANDARD="LVCMOS33";


NET "Master_Zynq_TCK<1>" LOC=P91 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TMS<1>" LOC=P90 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDI<1>" LOC=P89 | IOSTANDARD="LVCMOS33";
NET "Master_Zynq_TDO<1>" LOC=P81 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TCK<1>"  LOC=P79 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TMS<1>"  LOC=P78 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDI<1>"  LOC=P77 | IOSTANDARD="LVCMOS33";
NET "Slave_Mezz_TDO<1>"  LOC=P76 | IOSTANDARD="LVCMOS33";

NET "Slave_Zynq_TCK"     LOC=P79 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_TMS"     LOC=P78 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_TDI"     LOC=P77 | IOSTANDARD="LVCMOS33";
NET "Slave_Zynq_TDO"     LOC=P76 | IOSTANDARD="LVCMOS33";


NET "sel<0>"             LOC=P17 | IOSTANDARD="LVCMOS33";
NET "sel<1>"             LOC=P18 | IOSTANDARD="LVCMOS33";
NET "zynq_pwr_good"      LOC=P19 | IOSTANDARD="LVCMOS33";
NET "cable_present_n"    LOC=P24 | IOSTANDARD="LVCMOS33";

NET "mezz_en<0>"         LOC=P97   | IOSTANDARD="LVCMOS33";
NET "mezz_en<1>"         LOC=P74   | IOSTANDARD="LVCMOS33";
